@charset "UTF-8";
@font-face {
  font-family: "Sora";
  src: url(../fonts/Sora-Regular.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sora";
  src: url(../fonts/Sora-Medium.woff2) format(woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sora";
  src: url(../fonts/Sora-SemiBold.woff2) format(woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sora";
  src: url(../fonts/Sora-Bold.woff2) format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sora";
  src: url(../fonts/Sora-ExtraBold.woff2) format(woff2);
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
 */
[fill] {
  fill: currentColor;
}

[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  overflow-x: hidden;
}

._container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

@media (width > 1600px) {
  .visible-desktop {
    display: none !important;
  }
}

@media (width > 1280px) {
  .visible-desktop-small {
    display: none !important;
  }
}

@media (width > 1024px) {
  .visible-tablet {
    display: none !important;
  }
}

@media (width > 768px) {
  .visible-mobile {
    display: none !important;
  }
}

@media (width > 425px) {
  .visible-mobile-small {
    display: none !important;
  }
}

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-white-shade-50: #808080;
  --color-white-shade-55: #8C8C8C;
  --color-white-shade-60: #999999;
  --color-white-shade-65: #A6A6A6;
  --color-white-shade-70: #B3B3B3;
  --color-white-shade-75: #BFBFBF;
  --color-white-shade-80: #CCCCCC;
  --color-white-shade-90: #E6E6E6;
  --color-grey-shade-06: #0F0F0F;
  --color-grey-shade-10-alt: rgb(26, 26, 26, 68%);
  --color-grey-shade-10: #1A1A1A;
  --color-grey-shade-12: #1F1F1F;
  --color-grey-shade-15: #262626;
  --color-grey-shade-20: #333333;
  --color-grey-shade-25: #404040;
  --color-grey-shade-30: #4C4C4C;
  --color-grey-shade-40: #666666;
  --font-family-base: "Sora", sans-serif;
  --container-width: 1600px;
  --container-padding-x: 16px;
  --section-padding-y: 75px;
  --border-radius: 10000px;
  --border: 1px solid var(--color-grey-shade-15);
  --border-alt: 1px solid var(--color-grey-shade-12);
  --border-gradient: linear-gradient(to bottom, var(--color-grey-shade-15), transparent);
  --gradient-background: linear-gradient(var(--color-grey-shade-10), transparent);
  --gradient-background-alt: linear-gradient(var(--color-grey-shade-10), var(--color-grey-shade-10-alt));
  --transition-duration: .2s;
  --transition: var(--transition-duration) linear;
  --header-bottom: 188px;
}
@media (width <= 1600px) {
  :root {
    --container-width: 1280px;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  transition-duration: var(--transition-duration);
  color: var(--color-white);
  background: url(../images/hero-background.png) no-repeat;
  background-size: 1440px;
  background-position-x: -560px;
  background-color: var(--color-grey-shade-06);
}
@media (width <= 768px) {
  body {
    background: none;
    background-color: var(--color-grey-shade-06);
  }
}

main {
  flex-grow: 1;
}

a {
  color: inherit;
  cursor: pointer;
}
a, a:hover {
  text-decoration: none;
}

.button {
  padding: 18px 24px;
  border-radius: var(--border-radius);
  border: var(--border);
  color: var(--color-white);
  background-color: transparent;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}
@media (width <= 1600px) {
  .button {
    font-size: 14px;
    padding: 14px 20px;
  }
}

.title {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.3;
  color: var(--color-white);
  margin-bottom: 20px;
}
@media (width <= 1600px) {
  .title {
    font-size: clamp(28px, 2.375vw, 38px);
  }
}
.big-title {
  font-size: 58px;
}
@media (width <= 1600px) {
  .big-title {
    font-size: clamp(34px, 3vw, 48px);
  }
}
.title-with-span span {
  color: var(--color-grey-shade-40);
}

.discription {
  margin-bottom: 60px;
}
.discription p {
  color: var(--color-white-shade-50);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
@media (width <= 1600px) {
  .discription p {
    font-size: clamp(14px, 1vw, 16px);
  }
}
.text {
  color: var(--color-white-shade-50);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
@media (width <= 1600px) {
  .text {
    font-size: clamp(14px, 1vw, 16px);
  }
}
.header {
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-bottom: var(--border-alt);
  padding-block: 24px;
  margin-bottom: calc(188px);
  position: relative;
  z-index: 100;
}
@media (width <= 1600px) {
  .header {
    padding-block: 20px;
  }
}
@media (width <= 768px) {
  .header {
    margin-bottom: 100px;
  }
}
@media (width <= 425px) {
  .header {
    padding-block: 14px;
  }
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (width <= 1600px) {
  .header-logo img {
    width: 55.79px;
  }
}
@media (width <= 425px) {
  .header-logo img {
    width: 39.05px;
  }
}
.header-burger {
  width: 50px;
  aspect-ratio: 1;
  background-color: var(--color-grey-shade-10);
  border: var(--border-alt);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header-burger span {
  width: 21px;
  height: 2px;
  position: relative;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  display: inline-block;
}
.header-burger span:before, .header-burger span:after {
  content: "";
  background-color: currentColor;
  height: 2px;
  position: absolute;
  border-radius: var(--border-radius);
}
.header-burger span:before {
  top: -6px;
  width: 100%;
  left: 0;
}
.header-burger span:after {
  bottom: -6px;
  width: 50%;
  right: 0;
  transition: var(--transition);
}
@media (hover: hover) {
  .header-burger:hover span:after {
    width: 100%;
  }
}
@media (hover: none) {
  .header-burger:active span:after {
    width: 100%;
  }
}

.header-nav {
  transition: var(--transition);
}
@media (width <= 768px) {
  .header-nav {
    position: absolute;
    left: 0;
    top: -100vh;
    z-index: 100;
    height: 100vh;
    width: 100%;
    background-color: var(--color-grey-shade-10);
  }
}
.header-nav-list {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
@media (width <= 1600px) {
  .header-nav-list {
    -moz-column-gap: 6px;
         column-gap: 6px;
  }
}
.header-nav-list-item {
  padding: 16px 24px;
  font-size: 18px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);
}
@media (width <= 1600px) {
  .header-nav-list-item {
    font-size: 14px;
    padding: 12px 16px;
  }
}
@media (width <= 768px) {
  .header-nav-list-item {
    padding-inline: 160px;
  }
}
@media (hover: hover) {
  .header-nav-list-item:not(.checked):hover {
    background-color: var(--color-grey-shade-12);
  }
}
@media (hover: hover) and (width <= 768px) {
  .header-nav-list-item:not(.checked):hover {
    background-color: var(--color-grey-shade-06);
  }
}
@media (hover: none) {
  .header-nav-list-item:not(.checked):active {
    background-color: var(--color-grey-shade-12);
  }
}
@media (hover: none) and (width <= 768px) {
  .header-nav-list-item:not(.checked):active {
    background-color: var(--color-grey-shade-06);
  }
}
@media (width <= 768px) {
  .header-nav-list {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-grey-shade-12);
    height: 100%;
    width: 100%;
    padding-block: 30px;
  }
}

.nav-krest {
  position: absolute;
  right: 52px;
  top: 36px;
  cursor: pointer;
}
.nav-krest:before, .nav-krest:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 21px;
  background-color: var(--color-white);
}
.nav-krest:before {
  rotate: 45deg;
}
.nav-krest:after {
  rotate: -45deg;
}

.checked {
  border: var(--border-alt);
  background-color: var(--color-grey-shade-10);
}

.active {
  top: 0;
}

.hero-section {
  background: url(../../images/hero-background.png);
  background-size: 1440px;
  background-position: -400px 555px;
  overflow: hidden;
  margin-bottom: 330px;
}
@media (width <= 1600px) {
  .hero-section {
    margin-bottom: 200px;
  }
}
@media (width <= 768px) {
  .hero-section {
    background: none;
    margin-bottom: 80px;
  }
}

.hero-container {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (width <= 768px) {
  .hero-container {
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
  }
}

.hero-body {
  display: flex;
  flex-direction: column;
  width: 798px;
  position: relative;
}
@media (width <= 1600px) {
  .hero-body {
    width: 600px;
  }
}
@media (width <= 1280px) {
  .hero-body {
    width: 500px;
  }
}
@media (width <= 1024px) {
  .hero-body {
    width: 400px;
  }
}
@media (width <= 768px) {
  .hero-body {
    align-items: center;
    padding-top: 73px;
    padding-bottom: 34px;
  }
}
@media (width <= 425px) {
  .hero-body {
    width: 354px;
  }
}
.hero-body-text {
  color: var(--color-white);
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 20px;
}
@media (width <= 1600px) {
  .hero-body-text {
    font-size: clamp(14px, 1vw, 16px);
  }
}
.hero-body-button:first-child {
  background-color: var(--color-white);
  color: var(--color-grey-shade-10);
  border: none;
}
.hero-body-buttons {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.hero-body-button {
  transition: var(--transition);
}
@media (hover: hover) {
  .hero-body-button:hover {
    background-color: var(--color-white);
    color: var(--color-grey-shade-10);
  }
}
@media (hover: none) {
  .hero-body-button:active {
    background-color: var(--color-white);
    color: var(--color-grey-shade-10);
  }
}
.hero-body-image {
  width: 1440px;
  position: absolute;
  right: -110%;
  top: 0;
  z-index: -1;
}
.hero-body-image img {
  width: 100%;
}

.hero-image {
  background-color: var(--color-grey-shade-06);
  border-top: 100% solid var(--color-grey-shade-06);
  position: absolute;
  top: calc(188px);
  left: 50%;
  z-index: -1;
  display: flex;
  justify-content: center;
  padding-inline: 9.3vw;
}
@media (width <= 1600px) {
  .hero-image {
    padding-inline: 5vw;
  }
}
@media (width <= 1024px) {
  .hero-image {
    padding-inline: 7vw;
  }
}
@media (width <= 768px) {
  .hero-image {
    width: 100vw;
    position: relative;
    left: 0;
    top: 0;
  }
}
.hero-image:before {
  content: "";
  width: 100%;
  height: calc(188px);
  background-color: var(--color-grey-shade-06);
  position: absolute;
  translate: 0 -100%;
}
@media (width <= 768px) {
  .hero-image:before {
    display: none;
  }
}
.hero-image:after {
  content: "";
  max-width: 100%;
  width: 960px;
  height: 60%;
  background-color: rgba(15, 15, 15, 0.2);
  -webkit-backdrop-filter: blur(29px);
          backdrop-filter: blur(29px);
  position: absolute;
  left: 0;
  bottom: -1px;
}

.choose-section {
  margin-bottom: 148px;
  padding-bottom: 80px;
}

.choose-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.choose-text {
  max-width: 1156px;
}
@media (width <= 1600px) {
  .choose-text {
    max-width: 1040px;
  }
}
@media (width <= 1280px) {
  .choose-text {
    max-width: 900px;
  }
}

.choose-title {
  margin-bottom: 20px;
}
@media (width <= 1600px) {
  .choose-title {
    margin-bottom: 14px;
  }
}

.choose-discription {
  margin-bottom: 100px;
}

.choose-blocks-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
  position: relative;
}
@media (width <= 1600px) {
  .choose-blocks-list {
    gap: 80px;
  }
}
@media (width <= 1280px) {
  .choose-blocks-list {
    gap: 60px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (width <= 768px) {
  .choose-blocks-list {
    grid-template-columns: 1fr;
  }
}
.choose-blocks-list:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  top: 50%;
  translate: 0 50%;
  background-color: var(--color-grey-shade-12);
}
@media (width <= 1280px) {
  .choose-blocks-list:after {
    display: none;
  }
}

.choose-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 465px;
  position: relative;
}
@media (width <= 1600px) {
  .choose-item {
    max-width: 373.33px;
  }
}
@media (width <= 768px) {
  .choose-item {
    max-width: 465px;
  }
  .choose-item:not(:nth-child(1), :nth-child(2), :nth-child(3)) {
    display: none;
  }
}
.choose-item-icon {
  margin-bottom: 50px;
  width: 92px;
  aspect-ratio: 1;
  background-color: var(--color-grey-shade-10);
  background: url(../../images/hero-background.png);
  background-position: 50% 0;
  border: 10px solid var(--color-grey-shade-30);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 8px 6px 9px rgba(255, 255, 255, 0.1);
}
@media (width <= 1600px) {
  .choose-item-icon {
    width: 66px;
    aspect-ratio: 1;
    border: 6px solid var(--color-grey-shade-30);
    margin-bottom: 40px;
  }
  .choose-item-icon img {
    width: 25px;
  }
}
@media (width <= 425px) {
  .choose-item-icon {
    width: 56px;
    aspect-ratio: 1;
    border: 4px solid var(--color-grey-shade-30);
    margin-bottom: 30px;
  }
  .choose-item-icon img {
    width: 22px;
  }
}
.choose-item-title {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 600;
  font-family: var(--font-family-base);
}
@media (width <= 1600px) {
  .choose-item-title {
    font-size: 20px;
    margin-bottom: 14px;
  }
}
@media (width <= 425px) {
  .choose-item-title {
    margin-bottom: 10px;
  }
}
.choose-item-discription {
  margin-bottom: 50px;
}
@media (width <= 1600px) {
  .choose-item-discription {
    margin-bottom: 40px;
  }
}
@media (width <= 425px) {
  .choose-item-discription {
    margin-bottom: 30px;
  }
}
.choose-item-button {
  padding: 18px;
  padding-left: 34px;
  display: flex;
  align-items: center;
  gap: 30px;
  border: var(--border);
  border-radius: var(--border-radius);
}
@media (width <= 1600px) {
  .choose-item-button {
    padding: 10px;
    padding-left: 20px;
  }
}
.choose-item-button span {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}
@media (width <= 1600px) {
  .choose-item-button span {
    font-size: 14px;
  }
}
.choose-item-button img {
  padding: 17.46px 26px;
  background-color: var(--color-grey-shade-10);
  border-radius: var(--border-radius);
  transition: var(--transition);
}
@media (width <= 1600px) {
  .choose-item-button img {
    padding: 12px 20px;
  }
}
@media (hover: hover) {
  .choose-item-button:hover img {
    background-color: var(--color-grey-shade-15);
  }
}
@media (hover: none) {
  .choose-item-button:active img {
    background-color: var(--color-grey-shade-15);
  }
}
.choose-item:not(:nth-child(1), :nth-child(4)):before {
  content: "";
  height: 100%;
  width: 1px;
  position: absolute;
  left: -9.5%;
  top: 0;
  background-color: var(--color-grey-shade-12);
}
@media (width <= 1280px) {
  .choose-item:before {
    display: none;
  }
  .choose-item:not(:nth-child(1), :nth-child(3), :nth-child(5)):before {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    position: absolute;
    left: -9.5%;
    top: 0;
    background-color: var(--color-grey-shade-12);
  }
}
@media (width <= 768px) {
  .choose-item:before {
    display: none;
  }
  .choose-item:not(:nth-child(1)):before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    top: -9.5%;
    background-color: var(--color-grey-shade-12);
  }
}

.services-section {
  text-align: center;
  margin-bottom: 150px;
}
@media (width <= 1600px) {
  .services-section {
    margin-bottom: 120px;
  }
}
@media (width <= 768px) {
  .services-section {
    margin-bottom: 80px;
  }
}

.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-text {
  max-width: 1100px;
}

.services-title {
  margin-bottom: 20px;
}
@media (width <= 1600px) {
  .services-title {
    margin-bottom: 14px;
  }
}
@media (width <= 768px) {
  .services-title {
    margin-bottom: 10px;
  }
}

.services-blocks-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media (width <= 1600px) {
  .services-blocks-list {
    gap: 20px;
  }
}
@media (width <= 768px) {
  .services-blocks-list {
    grid-template-columns: 1fr;
  }
}

.services-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 80px;
  padding-top: 120px;
  background: url(../../images/hero-background.png) no-repeat;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 0;
  background-color: var(--color-grey-shade-06);
  border-radius: 20px;
}
@media (width <= 1600px) {
  .services-item {
    padding: 60px;
    padding-top: 90px;
  }
}
@media (width <= 768px) {
  .services-item {
    padding: 24px;
    padding-top: 50px;
  }
}
.services-item:before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  background: linear-gradient(to bottom, #292929, rgba(41, 41, 41, 0));
  border-radius: 20px;
  z-index: -1;
}
.services-item-icon {
  margin-bottom: 50px;
}
.services-item-icon img {
  width: 100%;
}
@media (width <= 1600px) {
  .services-item-icon {
    max-width: 138px;
    margin-bottom: 40px;
  }
}
@media (width <= 768px) {
  .services-item-icon {
    max-width: 114px;
    margin-bottom: 24px;
  }
}
.services-item-title {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.5;
  font-family: var(--font-family-base);
  margin-bottom: 20px;
}
@media (width <= 1600px) {
  .services-item-title {
    font-size: clamp(20px, 1.5vw, 24px);
    margin-bottom: 14px;
  }
}
@media (width <= 768px) {
  .services-item-title {
    margin-bottom: 12px;
  }
}
.services-item-discription {
  margin-bottom: 50px;
}
@media (width <= 1600px) {
  .services-item-discription {
    margin-bottom: 40px;
  }
}
@media (width <= 768px) {
  .services-item-discription {
    margin-bottom: 24px;
  }
}
.services-item-button {
  padding: 18px 24px;
  border: var(--border);
  border-radius: var(--border-radius);
  transition: 0.1s linear;
  display: flex;
  align-items: center;
}
.services-item-button span {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  font-family: var(--font-family-base);
}
@media (width <= 1600px) {
  .services-item-button {
    padding: 14px 20px;
  }
  .services-item-button span {
    font-size: 14px;
  }
}
.services-item-button img {
  margin-left: 6px;
  transition: 0.1s linear;
  padding: 6px;
}
@media (hover: hover) {
  .services-item-button:hover {
    padding-right: 18px;
  }
  .services-item-button:hover img {
    margin-left: 18px;
  }
}
@media (hover: none) {
  .services-item-button:active {
    padding-right: 18px;
  }
  .services-item-button:active img {
    margin-left: 18px;
  }
}

.readClick {
  color: var(--color-white);
}

.works-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.works-text {
  width: 100%;
  padding-inline: 250px;
}
@media (width <= 1600px) {
  .works-text {
    padding-inline: 150px;
  }
}
@media (width <= 768px) {
  .works-text {
    padding-inline: 0;
  }
}

.works-blocks-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
@media (width <= 1600px) {
  .works-blocks-list {
    gap: 40px;
  }
}
@media (width <= 768px) {
  .works-blocks-list {
    grid-template-columns: 1fr;
  }
}

.works-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  padding: 50px;
  border-radius: 20px;
  background: linear-gradient(to bottom, #1A1A1A, var(--color-grey-shade-06) 68%);
}
@media (width <= 1600px) {
  .works-item {
    padding: 40px;
  }
}
@media (width <= 768px) {
  .works-item {
    padding: 24px;
  }
}
.works-item:before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  background: linear-gradient(to bottom, #1f1f1f 0%, rgba(255, 255, 255, 0) 68%);
  border-radius: 20px;
  z-index: -1;
}
.works-item-image {
  width: 100%;
  position: relative;
  height: 411px;
  border: var(--color-grey-shade-12) solid 1px;
  border-radius: 20px;
  margin-bottom: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../../images/hero-background.png) no-repeat;
  background-size: 837px;
  background-position-x: 50%;
  background-color: transparent;
}
@media (width <= 1600px) {
  .works-item-image {
    height: 319px;
  }
  .works-item-image img {
    width: 125px;
  }
}
@media (width <= 425px) {
  .works-item-image {
    height: 200px;
  }
  .works-item-image img {
    width: 83px;
  }
}
.works-item-image-button {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  gap: 10px;
  padding: 18px 24px;
  border: var(--border);
  border-radius: var(--border-radius);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  transition: var(--transition);
  z-index: 1;
}
@media (width <= 1600px) {
  .works-item-image-button {
    padding: 14px 20px;
    font-size: 14px;
    gap: 9px;
    min-width: 218px;
  }
}
@media (hover: hover) {
  .works-item-image-button:hover {
    background-color: var(--color-grey-shade-12);
  }
}
@media (hover: none) {
  .works-item-image-button:active {
    background-color: var(--color-grey-shade-12);
  }
}
.works-item-image-button img {
  width: 15px;
}
@media (width <= 1600px) {
  .works-item-image-button img {
    width: 13px;
  }
}
.works-item-image:before, .works-item-image:after {
  width: 58px;
  aspect-ratio: 1;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  clear: both;
}
.works-item-title {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 24px;
}
@media (width <= 1600px) {
  .works-item-title {
    margin-bottom: 20px;
    font-size: clamp(18px, 1.25vw, 20px);
  }
}
@media (width <= 768px) {
  .works-item-title {
    margin-bottom: 16px;
  }
}
.works-item-subtitle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
}
@media (width <= 1600px) {
  .works-item-subtitle {
    margin-bottom: 20px;
  }
}
@media (width <= 768px) {
  .works-item-subtitle {
    margin-bottom: 16px;
  }
}
@media (width <= 1024px) {
  .works-item-subtitle {
    flex-direction: column;
    gap: 10px;
  }
}
.works-item-subtitle span,
.works-item-subtitle time {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
@media (width <= 1600px) {
  .works-item-subtitle span,
  .works-item-subtitle time {
    font-size: clamp(14px, 1vw, 16px);
  }
}
.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.testimonials-text {
  width: 100%;
  max-width: 1120px;
  padding-inline: 16px;
}
@media (width <= 1600px) {
  .testimonials-text {
    max-width: 976px;
  }
}

.testimonials-blocks-list {
  display: flex;
  width: 100vw;
  overflow: hidden;
  justify-content: center;
  position: relative;
}
.testimonials-blocks-list:before, .testimonials-blocks-list:after {
  position: absolute;
  content: "";
  width: 403px;
  height: 100%;
  top: 0;
  background: linear-gradient(to right, var(--color-grey-shade-06), transparent);
  z-index: 100;
}
@media (width <= 1600px) {
  .testimonials-blocks-list:before, .testimonials-blocks-list:after {
    width: 279px;
  }
}
@media (width <= 425px) {
  .testimonials-blocks-list:before, .testimonials-blocks-list:after {
    display: none;
  }
}
.testimonials-blocks-list::after {
  right: 0;
  transform: rotate(180deg);
}
.testimonials-blocks-list::before {
  left: 0;
}

.testimonials-block {
  animation: ticker 20s linear infinite;
  padding-inline: 15px;
}
@media (width <= 425px) {
  .testimonials-block:not(:nth-child(2)) {
    display: none;
  }
}
@media (width <= 425px) {
  .testimonials-block {
    animation: none;
  }
}
.testimonials-block-massage {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 40px;
  margin-bottom: 45px;
  border: var(--border);
  border-radius: 20px;
  width: 510px;
  height: 303px;
  text-align: left;
  background: linear-gradient(var(--color-grey-shade-10), var(--color-grey-shade-06) 30%);
  position: relative;
}
@media (width <= 1600px) {
  .testimonials-block-massage {
    padding: 30px;
    border-radius: 14px;
    margin-bottom: 35px;
    width: 420px;
    height: 248px;
  }
}
@media (width <= 425px) {
  .testimonials-block-massage {
    text-align: center;
    align-items: center;
    width: 354px;
    height: 255px;
  }
}
.testimonials-block-massage-button {
  background: transparent;
  border: 1px solid var(--color-grey-shade-15);
  border-radius: 8px;
  padding: 14px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (width <= 1600px) {
  .testimonials-block-massage-button {
    padding: 10px;
    border-radius: 6px;
  }
}
.testimonials-block-massage-subtitle {
  margin-bottom: 0;
}
.testimonials-block-massage-subtitle p {
  color: var(--color-white);
}
.testimonials-block-massage:after {
  content: "";
  background: url(../../icons/Tip.svg) no-repeat;
  background-size: 38px;
  background-position-y: 0;
  background-position-x: center;
  width: 66px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 100%;
}
@media (width <= 1600px) {
  .testimonials-block-massage:after {
    width: 60px;
    background-size: 32px;
  }
}
@media (width <= 425px) {
  .testimonials-block-massage:after {
    left: 50%;
    transform: translateX(-50%);
  }
}
.testimonials-block-person {
  display: flex;
  text-align: left;
  align-items: center;
  gap: 14px;
}
@media (width <= 1600px) {
  .testimonials-block-person {
    gap: 10px;
  }
}
@media (width <= 425px) {
  .testimonials-block-person {
    flex-direction: column;
    text-align: center;
  }
}
.testimonials-block-person-image {
  width: 70px;
  height: 70px;
}
.testimonials-block-person-image img {
  width: 100%;
}
@media (width <= 1600px) {
  .testimonials-block-person-image {
    width: 50px;
    height: 50px;
  }
}
.testimonials-block-person-info {
  height: auto;
}
.testimonials-block-person-info-name {
  font-weight: 400;
  font-size: clamp(18px, 1.25vw, 20px);
}
.testimonials-block-person-info-discription {
  margin-bottom: 0;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-400%);
  }
}
footer {
  margin-top: 150px;
}
@media (width <= 1600px) {
  footer {
    margin-top: 120px;
  }
}
@media (width <= 425px) {
  footer {
    margin-top: 80px;
  }
}

.footer-start {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: var(--border-alt);
  margin-bottom: 80px;
}
@media (width <= 1600px) {
  .footer-start {
    margin-bottom: 60px;
  }
}
@media (width <= 425px) {
  .footer-start {
    padding-bottom: 20px;
    margin-bottom: 24px;
  }
}
@media (width <= 425px) {
  .footer-start-logo img {
    width: 61.37px;
  }
}
.footer-start-media {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
@media (width <= 768px) {
  .footer-start-media {
    gap: 10px;
    flex-direction: column;
  }
}
.footer-start-media-title {
  color: var(--color-white);
}
.footer-start-media-socials {
  display: flex;
}
.footer-start-media-social {
  padding: 20px;
  background: linear-gradient(to bottom, var(--color-grey-shade-10), var(--color-grey-shade-06)) padding-box, var(--border-gradient) border-box;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: var(--transition);
}
@media (hover: hover) {
  .footer-start-media-social:hover {
    background: linear-gradient(to bottom, var(--color-grey-shade-10), var(--color-grey-shade-10)) padding-box, var(--color-grey-shade-15) border-box;
  }
}
@media (hover: none) {
  .footer-start-media-social:active {
    background: linear-gradient(to bottom, var(--color-grey-shade-10), var(--color-grey-shade-10)) padding-box, var(--color-grey-shade-15) border-box;
  }
}
.footer-start-media-social img {
  max-width: 24px;
}
@media (width <= 768px) {
  .footer-start-media-social img {
    max-width: 20px;
  }
}
.footer-start-media-social:not(:last-child) {
  margin-right: 14px;
}
@media (width <= 425px) {
  .footer-start-media-social:not(:last-child) {
    margin-right: 10px;
  }
}
@media (width <= 768px) {
  .footer-start-media-social {
    padding: 18px;
  }
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
  border-bottom: var(--border-alt);
}
@media (width <= 1600px) {
  .footer-menu {
    padding-bottom: 60px;
  }
}
@media (width <= 768px) {
  .footer-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 40px;
  }
}
@media (width <= 425px) {
  .footer-menu {
    grid-template-columns: 1fr 1fr;
    padding-bottom: 24px;
  }
}
.footer-menu-main-link {
  font-weight: 500;
  color: var(--color-white);
  margin-bottom: 24px;
}
.footer-menu-link {
  position: relative;
}
.footer-menu-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  left: 0;
  bottom: 0;
  scale: 0;
  transition: var(--transition);
}
@media (hover: hover) {
  .footer-menu-link:hover:after {
    scale: 1;
  }
}
@media (hover: none) {
  .footer-menu-link:active:after {
    scale: 1;
  }
}

.footer-extra-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-block: 30px;
}
@media (width <= 1600px) {
  .footer-extra-body {
    padding-block: 24px;
  }
}
@media (width <= 425px) {
  .footer-extra-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
  }
}
@media (width > 1024px) {
  .footer-extra-body-texts {
    display: contents;
  }
}
@media (width <= 1024px) {
  .footer-extra-body-texts {
    display: flex;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}
@media (width <= 768px) {
  .footer-extra-body-texts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
  }
}
@media (width <= 425px) {
  .footer-extra-body-texts {
    display: contents;
  }
}
.footer-extra-body-text {
  margin-bottom: 0;
}
.footer-extra-body-text p {
  color: var(--color-grey-shade-40);
}
.footer-extra-body-text:not(:first-child) {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50%, -50%;
  top: auto;
  transform: translate(-50%, 0);
}
@media (width <= 1024px) {
  .footer-extra-body-text:not(:first-child) {
    position: static;
    transform: none;
  }
}
.footer-extra-body-text:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}
.footer-extra-list {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (width <= 1024px) {
  .footer-extra-list {
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}
@media (width <= 768px) {
  .footer-extra-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (width <= 425px) {
  .footer-extra-list {
    display: contents;
  }
}
.footer-extra-item:first-child {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.footer-extra-item:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.footer-extra-link {
  color: var(--color-grey-shade-40);
  position: relative;
}
.footer-extra-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  left: 0;
  bottom: 0;
  scale: 0;
  transition: var(--transition);
}
@media (hover: hover) {
  .footer-extra-link:hover:after {
    scale: 1;
  }
}
@media (hover: none) {
  .footer-extra-link:active:after {
    scale: 1;
  }
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
  margin-right: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-grey-shade-20);
  border-radius: 5px;
}/*# sourceMappingURL=styles.css.map */