.hero-section {
  background: url(../../images/hero-background.png);
  background-size: 1440px;
  background-position: -400px 555px;
  overflow: hidden;
  margin-bottom: 330px;

  @include desktop {
    margin-bottom: 200px;
  }

  @include mobile {
    background: none;
    margin-bottom: 80px;
  }
}

.hero-container {
  display: flex;
  column-gap: 40px;

  @include mobile {
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
  }
}

.hero-body {
  display: flex;
  flex-direction: column;
  width: 798px;
  position: relative;

  @include desktop {
    width: 600px;
  }

  @include desktop-small {
    width: 500px;
  }

  @include tablet {
    width: 400px;
  }

  @include mobile {
    align-items: center;
    padding-top: 73px;
    padding-bottom: 34px;
  }

  @include mobile-small {
    width: 354px;
  }

  &-text {
    color: var(--color-white);
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 20px;

    @include desktop {
      @include fluid-text(14, 16)
    }
  }

  &-button:first-child {
    background-color: var(--color-white);
    color: var(--color-grey-shade-10);
    border: none;
  }

  &-buttons {
    display: flex;
    column-gap: 10px;
  }

  &-button {
    transition: var(--transition);

    @include hover {
      background-color: var(--color-white);
      color: var(--color-grey-shade-10);
    }
  }

  &-image {
    width: 1440px;
    position: absolute;
    right: -110%;
    top: 0;
    z-index: -1;

    img {
      width: 100%;
    }
  }
}

.hero-image {
  background-color: var(--color-grey-shade-06);
  border-top: 100% solid var(--color-grey-shade-06);
  position: absolute;
  top: calc(#{$header-bottom}px);
  left: 50%;
  z-index: -1;
  display: flex;
  justify-content: center;
  padding-inline: 9.3vw;

  @include desktop {
    padding-inline: 5vw;
  }

  @include tablet {
    padding-inline: 13vw;
  }

  @include mobile {
    width: 100vw;
    position: relative;
    left: 0;
    top: 0;
  }

  &:before {
    content: '';
    width: 100%;
    height: calc(#{$header-bottom}px);
    background-color: var(--color-grey-shade-06);
    position: absolute;
    translate: 0 -100%;

    @include mobile {
      display: none;
    }
  } 

  &:after {
    content: '';
    max-width: 100%;
    width: 960px;
    height: 60%;
    background-color: rgba(#0f0f0f, 20%);
    backdrop-filter: blur(29px);
    position: absolute;
    left: 0;
    bottom: -1px;
  }
}