.services-section {
  text-align: center;

  margin-bottom: 150px;

  @include desktop {
    margin-bottom: 120px;
  }

  @include mobile {
    margin-bottom: 80px;
  }
}

.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-text {
  max-width: 1100px;
}

.services-title {
  margin-bottom: 20px;

  @include desktop {
    margin-bottom: 14px;
  }

  @include mobile {
    margin-bottom: 10px;
  }
}

.services-blocks-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @include desktop {
    gap: 20px;
  }

  @include mobile {
    grid-template-columns: 1fr;
  }
}

.services-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 80px;
  padding-top: 120px;
  background: url(../../images/hero-background.png) no-repeat;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 0;
  background-color: var(--color-grey-shade-06);
  border-radius: 20px;

  @include desktop {
    padding: 60px;
    padding-top: 90px;
  }

  @include mobile {
    padding: 24px;
    padding-top: 50px;
  }

  &:before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    background: linear-gradient(to bottom, #292929, #29292900);
    border-radius: 20px;
    z-index: -1;
  }

  &-icon {
    margin-bottom: 50px;

    img {
      width: 100%;
    }
    
    @include desktop {
      max-width: 138px;
      margin-bottom: 40px;
    }

    @include mobile {
      max-width: 114px;
      margin-bottom: 24px;
    }
  }

  &-title {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
    font-family: var(--font-family-base);
    margin-bottom: 20px;

    @include desktop {
      @include fluid-text(20, 24);
      margin-bottom: 14px;
    }

    @include mobile {
      margin-bottom: 12px;
    }
  }

  &-discription {
    margin-bottom: 50px;

    @include desktop {
      margin-bottom: 40px;
    }

    @include mobile {
      margin-bottom: 24px;
    }
  }

  &-button {
    padding: 18px 24px;
    border: var(--border);
    border-radius: var(--border-radius);
    transition: .1s linear;
    display: flex;
    align-items: center;


    span {
      font-size: 18px;
      line-height: 1.5;
      font-weight: 400;
      font-family: var(--font-family-base);
    }
    
    @include desktop {
      padding: 14px 20px;
      
      span {
        font-size: 14px;
      }
    }

    img {
      margin-left: 6px;
      transition: .1s linear;
      padding: 6px;
    }

    @include hover {
      padding-right: 18px;

      img {
        margin-left: 18px;
      }
    }
  }
}

.readClick {
  color: var(--color-white);
}