@import './fonts', './media', './mixins', './normalize', './utils', './variables',  './globals';

@import './blocks/header', './blocks/hero', './blocks/choose', './blocks/services', './blocks/works', './blocks/testimonials', './blocks/footer';

::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
  margin-right: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-grey-shade-20);
  border-radius: 5px;
}